In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
print(os.getcwd())

D:\Kaggle\Titanic - Machine learning disaster

In [3]:
train_data = pd.read_csv('datasets/train.csv')
test_data = pd.read_csv('datasets/test.csv')

In [4]:
train_data = train_data[['Survived','Pclass','Sex','Age','SibSp']]
train_data['Age'].fillna(30,inplace=True)
train_data['SibSp'].fillna(0,inplace=True)
train_data['Pclass'].fillna(3,inplace=True)
train_data['Survived'].fillna(0,inplace=True)
train_data['Sex'].fillna('male',inplace=True)
train_X = train_data[['Pclass','Sex','Age','SibSp']]
train_y = train_data[['Survived']]

In [5]:
train_data.head()

   Survived  Pclass     Sex   Age  SibSp
0         0       3    male  22.0      1
1         1       1  female  38.0      1
2         1       3  female  26.0      0
3         1       1  female  35.0      1
4         0       3    male  35.0      0

In [6]:
X = np.array(train_X)
y = np.array(train_y)

In [7]:
passenger_index = X.shape[0]
bias = np.ones((X.shape[0],1))

In [8]:
X = np.column_stack((bias,X))